@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  font-size: 10px;
}
body {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans";
}
main {
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: -579px;
  background-position-y: -284px;
  background-color: white;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  border-radius: 23px;
  width: 920px;
  height: 509px;
  display: flex;
  position: relative;
}
.leftSection {
  position: relative;
  overflow: hidden;
}
#box {
  position: absolute;
  top: 206px;
  left: -93px;
}
#woman {
  margin: 70px 0px 0px -84px;
}
.rightSection {
  margin: 65px 0px 0px 87px;
}
h1 {
  color: #1e1f36;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
}
h3 {
  color: #4b4c5f;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
  margin: 2px 0px 0px 1px;
}
h3:hover {
  cursor: pointer;
  color: #f47b56;
}
p {
  width: 319px;
  color: #787887;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 18px;
  display: none;
  margin-bottom: 10px;
}
section {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}
.questionBox {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e8e8ea;
  margin-top: 16px;
}
.arrow {
  margin: 0px 24px 16px 0px;
  width: 8px;
  height: 4px;
}
.arrow:hover {
  cursor: pointer;
}
#woman_mobile {
  display: none;
}
@media (max-width: 375px) {
  main {
    background-image: url(images/bg-pattern-mobile.svg);
    background-size: 240px 104px;
    background-position: center;
    background-position-y: 0px;
    margin-top: 148px;
    width: 327px;
    height: 535px;
    flex-direction: column;
    align-items: center;
  }
  #box {
    display: none;
  }
  #woman {
    display: none;
  }
  #woman_mobile {
    display: block;
    margin-top: -108px;
    width: 237px;
    height: 180px;
  }
  .rightSection {
    margin: 60px 0px 0px;
    width: 279px;
  }
  .rightSection h1 {
    margin-left: 106px;
  }
  section {
    margin-top: 38px;
    width: 279px;
  }
  .questionBox {
    margin-top: 17px;
    width: 279px;
    height: 34px;
  }
  .questionBox h3 {
    font-size: 1.3rem;
  }
  .arrow {
    margin: 5.8px 0px 24.2px;
  }
  p {
    margin: -7px 0px 15px;
  }
}
